body {
	background: black;
	background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
	background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
	background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
	height: 900px;
	overflow: scroll;
	min-width: 770px;
}
.hideMe {
	display: none;
}
#whosFirst {
	display: block;
}
#whosFirst>label {
	margin-right: 40px;
}
#boardBackground {
	background-color: black;
	height: 300px;
	position: relative;
}
.getName {
	display: inline;
}
input {
	position: relative;
	top: -5px;
	margin: 0;
	font-weight: bold;
	padding-left: 10px;
	padding-top: 5px;
}
input.getName {
	width: 200px;
}
input[type=submit] {
}
.gameCell	{
	position: relative;
	height: 100px;
	background-color: #fff;
	font-size: 400%;
	padding-top: 10px;
	font-weight: bold;
	border-radius: 10px;
}

/* game board cells */
/*TOP ROW*/
#one-one	{ top: -10px; left: -10px; }
#two-one	{ top: -10px; }
#three-one	{ top: -10px; left: 10px; }

/*MIDDLE ROW*/
#one-two	{ left: -10px; }
/* cell with ID "two-two" doesn't need positioning since it is in the center */
#three-two	{ left: 10px; }

/*BOTTOM ROW*/
#one-three	{ top: 10px; left: -10px; }
#two-three	{ top: 10px; }
#three-three { top: 10px; left: 10px; }

.playHere {
	border: 5px solid red;
	padding-top: 5px; /* normal padding-top is 10px but this border adds 5px so, subtract 5px from padding */
}

/*
classes: row1, row2, row3, col1, col2, col3, diagnal1 are not directly needed for styling.
They are used to select the cells to then be able to add the .thisWon class which animated the winning cell combo 
*/
.thisWon {
	background-color: darkgreen;
	color: white;
    -webkit-animation: animateWinner .8s infinite; /* Chrome, Safari, Opera */
    animation: animateWinner .8s infinite;
}
	@-webkit-keyframes animateWinner { 50% {color: black;} } /* Chrome, Safari, Opera */
	@keyframes animateWinner { 50% {color: black;} /* Standard syntax */


.xPlayed {
	
}
.oPlayed {
	
}


    -webkit-transition:display 1.2s, height .8s, -webkit-transform 1.8s;
    transition:display 1.2s, height .8s, transform 1.8s;


.box:hover {
    height:0px;
    -webkit-transform:opacity(0);
    transform:opacity(0);
}


//    opacity: 0.5;
 //   filter: Alpha(opacity=50); /* IE8 and earlier */

